@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	
}


.cover{
	background: url(img/cover2.png) no-repeat;
	background-size: cover;
	height: 100vh;
	}


/*------menu------*/
.lin{
	height: 80px;
	width: 100%;
	background: rgba(0,0,0,0.4);
	position: fixed;


}

.logo{
	size: 100px;
	width: 100px;
	padding: 0px 100px;
}
.icon{
	float: right;
	margin-right:80px;	
}
.icon li{
	list-style: none;
	margin: 8px;
	display: inline-block;
	line-height: 80px;
}
.ho{
	float: right;
	margin-right:300px;	
	max-width: 1170px;
}
.ho li{
	list-style: none;
	margin: 0  8px;
	display: inline-block;
	line-height: 80px;
}
.ho li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 6px 13px;

}

.ho li a.active,
.ho li a:hover{
	background: #ff4588;
	border-radius: 2px;
}
/*------end menu------*/



.cover .wel{
	position: absolute ;
	top: 50%;
	left:55%;
	transform: translate(-50%, -50%);
}
.wel h1{
	font-size: 66px;
	color: #ffdf3f;
	text-align: center;
}
.wel p{
	font-family: Brush Script MT;
	font-size: 26px;
	color: #ff4588;
	text-align: center;
}
.cover .btn{
	margin: 35px 280px;
}
.btn button{
	height: 50px;
	width: 150px;
	font-size: 20px;
	background: #ff4588;
	border: none;
	border-radius: 25px;
}

.btn button a{
	color: #ffdf3f ;
	text-decoration: none;
}
/*------about part------*/
.about h2{
line-height: 90px;
}

.about{
	background-color: #ffdf3f;
	text-align: center;

}
/*------shop part------*/
.cov h2{
	line-height: 90px;
	text-align: center;
}
.cov button{
	height: 20px;
	width: 200px;
	font-size: 11px;
	background: #ff4588;
	border: none;
	border-radius: 25px;
}
.cov ul li{
	list-style: none;
	margin: 0  66px;
	display: inline-block;
	text-align: center;
}
.cov ul li p{
	font-family: 'comic sans ms';
}
img.first {border:0}
    img.second {border:0;display:none}
    a:hover img.second {display:inline}
    a:hover img.first {display:none}



/*----- product page ------*/
.lin2{
	height: 80px;
	width: 100%;
	background: rgba(0,0,0,0.4);
}
.big{
	margin-left: 60px;
}
h2 a{
	text-decoration: none;
	color: #ff4588;
}
a:hover{
	color:#ffdf3f;
}
.droit p{
	font-family: Comic Sans MS;
}
.droit{
	float: right;
	margin-right: 400px;
}
h2{
margin: 20px 0;
font-size: 22px;
font-weight: bold;
}
.droit button{
	height: 35px;
	width: 200px;
	font-size: 20px;
	background: #ff4588;
	border: none;
	border-radius: 25px;
}
button:hover{
	background:#ffdf3f;
}
select{
	display: block;
	padding: 8px;
	
}
.droit input{
	width: 50px;
	height: 30px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid;
	margin-top: 20px;
}
input:focus{
	outline: none;
}
.droit h4{
	font-size: 20px;
	margin: 10px;

}
/*----- comment part ------*/
.brd{
	width: 1200px;
	height: 2px;
	background: #ff4588;
}
.comment {
	margin-right: 55px;
	margin-left: 55px;
}
.cmnt h5{
	color: #ff4588 ;
}
.cmnt p{
	margin-left: 30px;
}
.star{
	color: #ffdf3f;
	margin-left: 30px;
}
.star li{
	list-style: none;
	display: inline-block;
}
.like{
	margin-left: 1150px;
}
.like li{
	list-style: none;
	display: inline-block;
}

/*----- end comment part ------*/
/*---------cart----------*/
.sidebar{
	position: fixed;
	right: -300px;
	width: 300px;
	height: 100%;
	background: #111;
	transition: all .6s ease;
	top: 0;
	color: white;
}
.sidebar i{
	margin-right: 15px;
	size: 16px;
}
.sidebar input{
	border: none;
	color: #ffdf3f;
	background: black;
	width: 50px;
	height: 30px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 20px;
}
.sidebar header{
	font-size: 26px;
	color: #ff4588;
	text-align: center;
	line-height: 70px;
	user-select: none;
}
.remove-item {
  color: #ff4588;
}
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
	margin-left: 12px;
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
}
.cart-item h5 {
  margin: 0.5rem 0;
}
.cart-footer{
	margin-left: 80px;
}
.cart-footer button{
	height: 30px;
	width: 120px;
	font-size: 11px;
	background: #ff4588;
	border: none;
	border-radius: 25px;
}
.cart-footer button a{
	text-decoration: none;
	color: #000;
}
.cart-footer button:hover{
	background:#ffdf3f;
}
#check{
	display: none;
}
label #vtn{
	transition: all .5s;
	position: absolute;
	cursor: pointer;
}
label #cancel{
	z-index: 1111;
	right: 250%;
	top: 30px;
	font-size: 20px;
	color: #ff4588;
	padding: 4px 9px;
	position: absolute;
	cursor: pointer;
	background: #ffdf3f;
	border: none;
	border-radius: 25px;
	transition: all .5s;
}
#check:checked ~ .sidebar{
	right:0;
}
#check:checked ~ label #vtn{
	right : 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{
	right: 250px;
}


img.first {border:0}
    img.second {border:0;display:none}
    #vtn:hover img.second {display:inline}
    #vtn:hover img.first {display:none}

/*-----  pied de page ------*/
footer{
	background: #111;
	padding: 100px;
	color: #fff;
}
.footerr{
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lofo{
	width: 170px;
}
.cop{
	font-size: 14px;

}
.footerr p{
	font-size: 16px;
	margin: 8px;
}
.footerr h1{
	font-size: 26px;
}
.social img{
	margin: 20px 0;
	margin-right: 25px;
}
.footerr li{
	list-style: none;
	margin: 8px;
}
.ww a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	padding: 6px 13px;

}
a:hover{
	color:#ffdf3f;
}
.bord{
	width: 180px;
	height: 4px;
	background: #ff4588;
}
.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.txt{
	flex: 1;
	padding: 18px 40px;
	font-size: 14px;
	color: #293043;
	background: #ddd;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	min-width: 260px;
}
.ttn{
	padding: 18px 40px;
	font-size: 14px;
	color: #293043;
	background: #ff4588;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;

}
.ttn:hover{
	background:#ffdf3f;
}
@media screen and (max-width: 960px){
	.footerr{
		max-width: 600px;
	}
	.right{
		width: 100%;
		margin-bottom: 60px;
	}
}
/*----------end footer-------/

/*-------login---------*/
.lol{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(img/log.png);
	background-position:center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: rgb(226,226,226,0.8);
	padding: 5px;
	overflow: hidden;
	box-shadow: 0 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 3px;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #555;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#atn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right,#ff4588, #ffdf3f );
	border-radius: 50px;
	transition: .5s;
}
.social-icon{
	margin: 30px;
	text-align: center;
}
.social-icon img{
	width: 35px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #111 ;
	cursor: pointer;
	border-radius: 50%;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 38px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right,#ff4588, #ffdf3f );
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 3px 30px 0;
}
label{
	color: #777;
	font-size: 12px;
	bottom: 68px;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}
#btnBack{

	margin-top: 300px;
	margin-right: 200px;
}
#btnBack a{
	font-size: 11px;
	text-decoration: none;
	color: red;
}
/*-------end  login---------*/
/*----check out page------*/
.cart-page{
	margin: 100px 100px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background:#ff4588;
	font-weight: normal;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #ff4588;
	text-decoration: none;
	font-size: 12px;
}
td img{
	width: 10%;
	height: 10%;
	margin-right: 10px;
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	border-top: 3px solid #ff4588;
	width: 100%;
	max-width: 350px;
}

/*----end check out page------*/

